/* GENERAL */

html {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
}

/* UTILS */

.flex {
  display: flex;
}

/* MAIN */

main {
  display: flex;
}

/* SIDE BAR */

.side-bar {
  width: 300px;
  height: calc(100vh - 80px);
  background-color: black;
}

/* MUSIC */

.music {
  width: calc(100% - 300px);
  background-color: gray;
  height: calc(100vh - 80px - 2rem);
  overflow-x: auto;
  padding-bottom: 2rem;
}

/* HEADER SECTION */

header {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.upgrade {
  border: solid whitesmoke 1px;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background-color: transparent;
  color: whitesmoke;
}

.upgrade:hover {
  padding: 0.6rem 1.2rem;
  color: #a3a3a3;
  font-size: 1rem;
}

/* SONG SECTION */

/* menu section */

.logo {
  width: 60%;
  padding: 1rem;
}

.logo-small {
  display: none;
}

.side-bar {
  color: #ffffff;
  font-size: 0.8rem;

  overflow-x: auto;
}

.home {
  margin: 1rem;
}

.home div {
  margin: 0.5rem 0;
}

.icon-menu {
  font-size: 1.3rem;
  padding-right: 1rem;
}

.home-flex {
  align-items: center;
}

.playlist h3 {
  margin-left: 1rem;
}

.playlist ul {
  list-style: none;
  padding-left: 1rem;
}

.playlist ul li {
  margin-bottom: 1rem;
}

.user-install {
  position: sticky;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: black;
}

.install a {
  text-decoration: none;
  color: #ffffff;
}

.playlist ul li a {
  text-decoration: none;
  color: #ffffff;
}

.add-playlist {
  align-items: center;
}

.gray-square {
  padding: 1rem 1.3rem;
  background-color: gray;
  margin: 1rem;
}

.install {
  margin: 0 1rem;
  padding-bottom: 0.3rem;
  border-bottom: solid white 1px;
}

.fa-circle-down {
  margin-right: 0.6rem;
}

.user {
  align-items: center;
  margin-top: 0;
}

.user-img {
  width: 50px;
  height: 50px;
  background-color: gray;
  margin: 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.home-flex:hover {
  color: #a3a3a3;
  border-left: solid 2px greenyellow;
}

.add-playlist:hover {
  color: #a3a3a3;
}

.playlist li a:hover {
  color: #a3a3a3;
}

#hover-install div a:hover {
  color: #a3a3a3;
}

/* SONG SECTION */

.song ul {
  list-style: none;
  justify-content: center;
}

.song li {
  font-size: 0.8rem;
  margin: 0 1rem;
}

.song ul li a {
  text-decoration: none;
  color: #ffffff;
}

.list li a:hover {
  border-bottom: greenyellow 2px solid;
  color: #a3a3a3;
}

/* playlist section */

.played h1 {
  color: whitesmoke;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.played > p {
  margin: 1rem;
  color: darkgray;
}

.mazzo {
  flex-wrap: wrap;
}

.song-select :hover {
  opacity: 0.5;
}

.card {
  margin: 0 0.5rem;
  width: calc(100% / 6 - 1rem);
}

.song-image-div {
  position: relative;
}

.card h3 {
  margin: 1rem 0 0 0;
  color: whitesmoke;
  line-height: 1.2rem;
}

.card p {
  margin: 0.5rem 0;
  color: darkgrey;
}

.card img:hover {
  opacity: 0.5;
}

.card span {
  float: left;
  margin: 0;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  opacity: 0;
  font-size: 2rem;
}

.card:hover span {
  opacity: 1;
}

.autore {
  border-radius: 50%;
}

/* FOOTER SECTION */

footer {
  height: 80px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

footer > div {
  margin: 0 1rem;
}

.sinister-img {
  width: 40px;
  margin: 0 1rem 0 0;
}

.title-song {
  align-items: center;
}

.name-song {
  line-height: 0.8rem;
}

.singer {
  font-size: 0.7rem;
  margin-top: 0;
  color: gray;
}

.name-song:hover {
  text-decoration: underline;
}

.singer:hover {
  text-decoration: underline;
}

.footer-icon:hover {
  color: greenyellow;
}

.footer-icon {
  margin-left: 1rem;
  margin-right: 1rem;
  color: gray;
}

.player {
  width: 25%;
}

.player-simbol p {
  margin: 1rem 1.5rem 0.5rem 1.5rem;
}

.player-simbol p:hover {
  color: #a3a3a3;
}

.player-simbol {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50%;
}

.duration {
  justify-content: space-around;
  align-items: flex-start;
  height: 50%;
}

.duration-bar {
  background-color: #a3a3a3;
  width: 70%;
  margin-top: 0.5rem;
  border-radius: 50px;
}

.advancement {
  display: block;
  height: 5px;
  background-color: #ffffff;
  width: 30%;
  border-radius: 5px;
  position: relative;
}

.advancement-dot {
  position: absolute;
  top: 50%;
  left: 90%;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  transform: translateY(-50%);
  opacity: 0;
}

.duration-bar:hover {
  .advancement-dot {
    opacity: 1;
  }

  .advancement {
    background-color: greenyellow;
  }
}

.duration p {
  margin-top: 0;
}

.sound {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.sound-bar {
  background-color: #a3a3a3;
  width: 40%;

  border-radius: 50px;
}

.sound-bar .advancement .advancement-dot {
  transform: translateY(-45%);
}

.sound-bar:hover {
  .advancement-dot {
    opacity: 1;
  }

  .advancement {
    background-color: greenyellow;
  }
}

.volume-item:hover {
  color: #a3a3a3;
}

@media screen and (max-width: 1100px) {
  .card {
    width: calc(100% / 4 - 1rem);
  }
}

@media screen and (max-width: 780px) {
  .card {
    width: calc(100% / 2 - 1rem);
  }

  .list {
    flex-wrap: wrap;
  }

  .list li {
    margin: 0.5rem;
  }

  .sound {
    width: 20%;
  }

  .volume-item {
    margin: 0 0.4rem;
  }

  .sound-bar {
    width: 50px;
  }

  .player {
    width: 20%;
  }

  .player p {
    margin: 0.4rem;
  }

  .duration p {
    display: none;
  }

  .side-bar {
    width: 200px;
  }

  .music {
    width: calc(100vw - 200px);
  }
}

@media screen and (max-width: 525px) {
  .footer-icon:last-of-type {
    display: none;
  }

  .volume-item {
    font-size: 0.7rem;
  }

  .music {
    width: calc(100vw - 50px);
  }

  .side-bar {
    width: 50px;
  }

  .logo {
    display: none;
  }

  .logo-small {
    display: block;
    width: 70%;
    padding: 1rem 0.5rem 0;
  }

  .home-item {
    display: none;
  }

  .home .home-flex .icon-menu {
    margin: 0;
  }

  .playlist {
    display: none;
  }

  .user-text {
    display: none;
  }

  .user-img {
    height: 20px;
  }

  .install {
    border: 0;
    margin: 0 1.2rem;
  }

  /* footer */

  .title-song {
    width: 25%;
  }

  .player {
    width: 50%;
  }

  .sound {
    width: 25%;
  }

  .sinister-img {
    display: none;
  }
}
